@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Ubuntu:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: rgba(2, 5, 5, 0.7);
    background-image: linear-gradient(to top right, midnightblue , aliceblue, navy, aliceblue, midnightblue, aliceblue, navy);
    background-blend-mode: overlay;
}

.logo{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 4%;
    left: 10%;
    border-radius: 50%;
}

#content{
    width: 60%;
    height: 500px;
    padding: 0px 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url(/images/Apostle-jonathan-shekwonyan.jpg);
    background-color: #020505b3;
    background-position:  100% 0%, 0 0;
    background-size: cover;
    background-repeat: no-repeat; 
    background-blend-mode: overlay;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px whitesmoke;
}

#quote{
    font-size: 1.2rem;
    color: azure;
    width: 90%;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
}
.quote-section{
    position: relative;
}
.material-symbols-rounded{
    color: white;
    position: absolute;
}
.topQuote{
    transform: rotateY(180deg);
    left: 20px;
    top: -20px;
}

.bottomQuote{
    float: right;
    right: 10px;
}

#author{
   margin: 60px 0px;
   float: right;
   color: white;
   margin-right: 50px;
   font-family: 'Sacramento', cursive;
   letter-spacing: 2px;
   font-size: 1.2rem;
}

.btn, .sound{
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(2, 5, 5, 0.7);
    color: white;
    transition: transform 0.4s, opacity 4s;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0px 0px 8px 1px whitesmoke;
    transform: scale(1.05);
    opacity: 0.7;
}
.btn-audio{
    display: flex;
}

.sound{
    margin: 0px 10px;
    padding: 9px;
}

.sound:hover{
    box-shadow: 0px 0px 5px 1px whitesmoke;
    transform: scale(1.15);
    opacity: 0.7;
}

.loading{
    opacity: 0.7;
    pointer-events: none;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  20px 10%;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.icon{
    margin: 4px;
    background-color: rgba(2, 5, 5, 0.7);
    padding: 6px;
    border-radius: 4px;
    transition: transform 0.4s;
}
a{
    text-decoration: none;
}

.twitter{
    padding: 8px 8px;
}

.icon:hover{
    box-shadow: 0px 0px 5px 1px whitesmoke;
    transform: scale(1.15);
}

.copyright p{
    color: whitesmoke;
}






@media screen and (max-width: 768px){
    
    #content{
        width: 80%;
        height: 600px;
    }
    .logo{
        width: 80px;
        height: 80px;
        top: 4%;
        left: 8%;
    }
}






@media screen and (max-width: 428px) {
    .logo{
        width: 55px;
        height: 55px;
        top: 1%;
        left: 4%;
    }

    .topQuote{
        transform: rotateY(180deg);
        left: -20px;
        top: -20px;
    }
    
    .bottomQuote{
        float: right;
        right: -20px;
    }

    #content{
        width: 90%;
        height: 80%; 
        background-position:  60% 0%, 0 0;
    }

    #quote{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: azure;
        line-height: 1.4;
        font-size: 1.2rem;
        width: 100%;
        margin: 0 auto;
        font-size: 16px;
    }

    #author{
        margin: 70px 0px 50px 0px;
        float: right;
        color: white;
        margin-right: 50px;
        font-size: 16px;
     }
    .btn{
        margin: 0px;
    }
    footer{
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        bottom: -10px;
    }
    
    .copyright p{
        text-align: center;
        margin-top: 20px;
        color: white;   
    }
    
}